body{
    font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Signika Negative', sans-serif;
margin: 0;
}
.background-image{

    background-image: url(images/donation5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height:900px;
    margin-top: 0%;

   
    
    
}
.header-property{

    color:aliceblue;
    font-size: 75px;
    text-align: center;
    position: relative;
   bottom: -200px;

}
.text{
    color:aliceblue;
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom: -140px;

}
.link-button{
  
    text-decoration: none;
    background-color:indianred;
   padding: 18px 30px;
   color:white;
   font-weight: 700;
   border-radius: 5px;
   position: relative;
   bottom: -170px;
   right: -700px;
}
.container-flex{
    display:flex;
}
.amount1{
    
   color:rgb(97, 94, 94);
   font-size: 30px;
   font-weight: 700;
   position: relative;
   bottom: -90px;
   right: -300px;
}
.amount2{
    text-decoration: none;
    border: 4px solid indianred;
    background-color:rgb(242, 217, 217);
    font-size: 30px;
   padding: 5px 20px;
   color:indianred;
   font-weight: 700;
   border-radius: 5px;
   position: relative;
   bottom: -90px;
   right: -450px;
}
.amount3{
    color:rgb(126, 125, 125);
   font-size: 30px;
   font-weight: 700;
   position: relative;
   bottom: -90px;
   right: -550px;
}
.amount4{
    color:rgb(97, 94, 94);
   font-size: 30px;
   font-weight: 700;
   position: relative;
   bottom: -90px;
   right: -650px;
}
.donate{
    text-align: center;
    font-size: 30px;
    position: relative;
   bottom: -80px;
   font-weight: 700;

}
#donate-property{
    color: rgb(97, 94, 94);
    position: relative;
    bottom: 35px;
    font-size: 22px;
}
.underline-position{
    position: relative;
    bottom: -150px;
    text-align: center;
    color:slategray;
}
.line{

    margin-left: 50px;
    width:600px;
    border-bottom: 2px solid slategray;
    text-align: center;
    position: relative;
   bottom: -150px;
   right: -420px;
}
.link-button2{
    text-decoration: none;
    background-color:indianred;
   padding: 18px 30px;
   color:white;
   font-weight: 700;
   border-radius: 5px;
   position: relative;
   bottom: -200px;
   right: -700px;


}
.donate-plan{
    width:80%;
    height:300px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px -5px grey;
    position: relative;
   bottom: -340px;
   border-radius: 5px;

}
.plan{
    text-align: center;
    font-size: 30px;
    position: relative;
   bottom: -300px;
   font-weight: 700;

}
h3{
    font-size: 20px;
    position: relative;
   bottom: -120px;
}
#food-icon{

    background-color: rgb(226, 246, 239);
}
#shelter-icon{
    background-color:rgb(219, 204, 206)
}
#educational-icon{
    background-color:rgb(247, 245, 219);
}
.donation-descroption{
    font-size: 14px;
    position: relative;
   bottom: -50px;
   color:lightslategrey;
   padding:3px 8px;
   
}
.para-plan{
    color:grey;
}
.email{

    text-align: center;
    position: relative;
   bottom: -600px;
}
.heading-update{
    font-size: 50px;
}
.para-email{
    position: relative;
    bottom: 25px;
    color: gray;
    font-size: 18px;
}
.first-box{
    width:50%;
    height:200px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px -5px grey;
    position: relative;
   bottom: -600px;
   right:-300px;
   background-color: blanchedalmond;

}
.label{
    position:relative;
    bottom: -100px;
    right:-200px;
}
.input{
    border:none;
    width: 300px;
    height:0px;
    padding:25px 40px;
    background-color:rgb(241, 241, 241);
    color: rgb(12, 10, 10);

}
.button{
    position:absolute;
    bottom:-10px;
    top:-11.8px;
    bottom:0;
    right:0;
    background-color: indianred;
    color:white;
    padding:25px 39px;
    border:none;
    text-align: center;
    font-size: 20px;

}
.footer-element{
    border-bottom: 150px solid black;
    
}
.humble{
    text-align: center;
    color:indianred;
}
.do{
    text-align: center;
    color:white;
}
.last-div{
    position: relative;
    bottom:-600px;
}
.footer-position{
    position: relative;
    bottom:-130px;
}
.subscribe{
    text-align: center;
    position: relative;
    top:-30px;
}
.last-section{

    position:relative;
    bottom:100px;
}
.section2{
    width:80%;
    height:300px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 10px grey;
    position: relative;
   bottom: -400px;
   border-radius: 5px;


}
.way-of-donation{
    text-align: center;
    position:relative;
    bottom:-400px;
    font-size: 40px;
}
.image-size{
    height:30%;
    width:30%;
    position:relative;
    bottom:100px;
}
.image-size2{
    height:5%;
    width:5%;
    position:relative;
    bottom:-420px;
    left:-380px;
}
.image-size3{
    height:30%;
    width:30%;
    position:relative;
    bottom:180px;
    
}
h3{
    position:relative;
    bottom:-100px;
}
.div{
    position:relative;
    bottom:-100px;
    padding:5px 5px;
    font-size:15px;
    color:rgb(95, 92, 92);
}
span{
    color:black;
}